<br />
<h2>Atenção!</h2>
<p>
    A <font color=#00ADEF>autorização</font> (ou pré-autorização) é uma operação que viabiliza o processamento de uma venda com um cartão de crédito.
    A pré-autorização apenas sensibiliza o limite do cliente, mas ainda não gera cobrança na fatura para o consumidor.
    Desta forma, é necessário uma segunda operação, chamada ‘captura’.
</p>
<p>
    Ao realizar uma pré-autorização, é necessário confirmá-la <font color=#00ADEF>(captura)</font> para que a cobrança seja efetivada.
    O tempo limite para capturar uma transação pré-autorizada varia de adquirente para adquirente, que pode ser por exemplo,
    de até 5 dias após a data da pré-autorização.
</p>
<p> O <font color=#00ADEF>cancelamento</font> irá desfazer a venda, mas deve ser executado até às 23:59:59 da data da autorização/captura.</p>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar com grupos de botões">
    <div class="btn-group" role="group" aria-label="Terceiro grupo">
        <button type="button" class="btn btn-secondary" data-toggle="popover" title="Clique para efetuar uma pré-autorização.">Autorizar</button>
    </div>
    <div class="btn-group" role="group" aria-label="Terceiro grupo">
        <button type="button" class="btn btn-secondary" data-toggle="popover" title="Clique para efetuar a Transação.">Capturar</button>
    </div>
    <div class="btn-group" role="group" aria-label="Terceiro grupo">
        <button type="button" class="btn btn-secondary" data-toggle="popover" title="Clique para cancelar.">Cancelar</button>
    </div>
</div>